body {
  background: black;
  background-size: cover;
  font-family: 'Mystery Quest', cursive;
}

#dateEnter {
  color: white;
  text-align: center;
  margin-top: 200px;
  line-height: 3;
}

#dateEnter h1 {
  font-size: 50px;
  font-weight: 400;
}

#dateEnter select {
  color: black;
}

img {
  height: 30%;
  width: 30%;
  margin: 20px 0 50px 0;
  border: 2px solid #fff;
}

.zodiac {
  text-align: center;
  display: none;
  margin: 2% auto;
  width: 88%;
  color: #333;
}

.zodiac h1 {
  font-size: 70px;
}

.zodiac p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

footer {
  color: #ccc;
  text-decoration: underline;
  font-size: 10px;
  font-weight: 700;
  width: 100%;
  margin-top: 70px;
  text-align: center;
}

@media (max-width:400px) {
  img {
    height: 200px;
    width: 200px;
  }
}

