.accordion {
  background-color: #F4EDE7;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 23px;
  transition: 0.4s;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  border-bottom: 2px #222 solid;
}

.active, .accordion:hover {
  text-decoration: none;

}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #F4EDE7;
  overflow: hidden;
  margin:none;
}
.link{
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 0px;
  right: 0;
  background: black;
  transition: width 1s ease-in-out;
  -webkit-transition: width 1s ease-in-out;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: black;
}
a {
  text-decoration: none;
  color:black;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

